@import '@/assets/styles/variables';
@import '@/assets/styles/mixins';

.weather__info {
	@include animation-opacity;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;

	> div {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	> .icon {
		> img {
			max-width: 150px;
		}
	}

	> .temp {
		margin-bottom: 30px;
		font-size: 3rem;

		> sup {
			font-size: 2rem;
		}
	}

	> .date {
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid rgba($gray, 0.3);

		> span {
			margin-left: 10px;
			color: $gray;
		}
	}

	> .description {
		margin-bottom: 20px;
		text-transform: capitalize;
	}

	> .clouds {
		margin-bottom: 50px;
		> p {
			> span {
				font-size: 1.2rem;
			}
		}
	}

	> .country {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		padding: 60px 40px;
		border-radius: 30px;
		position: relative;

		> div {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			-webkit-box-shadow: $box-shadow;
			box-shadow: $box-shadow;
			border-radius: 30px;
			-webkit-filter: blur(1px);
			filter: blur(1px);
			background: url('/city.png') center / cover no-repeat;
		}

		> p {
			z-index: 1;
			letter-spacing: 1px;
		}
	}

	svg {
		margin-right: 10px;
		fill-opacity: 0.3;
	}

	@media (max-width: 1280px) {
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		width: 100%;
		height: 300px;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;

		> .icon {
			margin-top: -35px;
		}

		> .clouds {
			margin-bottom: 0;
		}

		> .country {
			margin-top: 160px;
		}

		> .date {
			padding-bottom: 0;
			border-bottom: none;
		}
	}

	@media (max-width: 650px) {
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		height: auto;

		> .icon {
			margin-top: 0;
		}

		> .country {
			margin-top: 40px;
		}

		> .date {
			padding-bottom: 30px;
			border-bottom: 1px solid rgba($gray, 0.3);
		}
	}
}
