@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

$default-font: 'Merriweather', serif;
$black: #000;
$gray: #bcbcbc;
$white: #fff;
$block: #f6f6f8;
$box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
