@import '@/assets/styles/mixins';
@import '@/assets/styles/variables';

.weather__five_day {
	> nav {
		> ul {
			display: flex;
			align-items: center;

			> li {
				&:not(:last-child) {
					margin-right: 15px;
				}

				> button {
					@include transition(color);
					background-color: transparent;
					text-transform: capitalize;

					&.active {
						border-bottom: 1px solid $black;
						padding-bottom: 5px;
						color: $black;
						font-weight: 700;
					}

					&:hover:not(.active) {
						color: $gray;
					}
				}
			}
		}
	}
	> div {
		@include animation-opacity;

		display: flex;
		justify-content: space-between;
		margin-top: 50px;

		> div {
			padding: 10px 20px;
			background-color: $white;
			border-radius: 15px;
			box-shadow: $box-shadow;
			text-align: center;
		}
	}
}
