@import '@/assets/styles/variables';
@import '@/assets/styles/mixins';

.weather__detail_info_today {
	> h2 {
		font-weight: 700;
		margin-bottom: 30px;
		letter-spacing: 1px;
	}

	> div {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		gap: 20px 0;

		> div {
			@include animation-opacity;
			@include transition(width);

			width: 30%;
			background-color: $white;
			padding: 20px 20px;
			border-radius: 15px;
			-webkit-box-shadow: $box-shadow;
			box-shadow: $box-shadow;
			height: 150px;

			> h3 {
				margin-bottom: 30px;
				color: $gray;
			}

			> p {
				font-size: 2rem;

				> span {
					margin-left: 5px;
					font-size: 1rem;
				}
			}

			> div {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				-ms-flex-direction: column;
				flex-direction: column;
				gap: 10px 0;

				> div {
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					font-size: 1.3rem;

					> svg {
						margin-right: 10px;

						> path {
							fill: #f97070;
						}
					}
				}
			}
		}
	}

	@media (max-width: 1280px) {
		> div {
			> div {
				height: 170px;
			}
		}
	}

	@media (max-width: 650px) {
		> div {
			> div {
				width: 47%;
			}
		}
	}

	@media (max-width: 450px) {
		> div {
			> div {
				width: 80%;
			}
		}
	}
}
